@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600;700&family=Sometype+Mono:wght@400;500;600;700&display=swap");

body {
  font-family: poppins;
  display: flex;
  justify-content: space-around;
  /* overflow:scroll; */
  height: 100vh;
}

.questions {
  align-self: center;
  
}

.question {
  border: 3px solid black;
  width: 650px;
  padding: 30px 50px;
  border-radius: 50px;
  position: relative;
  z-index: 100;
}
.question.hidden{
    display:none;
}

.question-text {
  font-weight: 400;
  font-size: 1.5rem;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.choice-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.choice {
  font-size: 1.3rem;
  list-style: none;
  background: black;
  color: white;
  width:fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

.list-style {
  background: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.list-style:hover {
  background: black;
  color: white;
  transform: scale(1.2);
  /* border-color:white; */
  box-shadow: inset 0 0 0 2px white;
}

.list-style:hover ~ li {
  background: white;
  color: black;
  border: 2px solid black;
}

.high-scores {
  cursor: pointer;
}

.timer {
}

.high-scores,
.timer {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid black;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.count {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Sometype Mono";
}

.incorrect {
  bottom: 0;
  color: red;
}
.correct {
  top: 0;
  color: rgb(28, 197, 28);
}

.incorrect,
.correct {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.correct.show {
  transform: translateY(-70px);
  opacity: 1;
}
.incorrect.show {
  transform: translateY(70px);
  opacity: 1;
}
