@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600;700&family=Sometype+Mono:wght@400;500;600;700&display=swap");

body {
  font-family: poppins;
  display: flex;
  justify-content: space-around;
  /* overflow:scroll; */
  height: 100vh;
  margin: 0;
  /* background:rgb(163, 187, 225) */
}

:root {
  --blue: rgb(156, 192, 240);
  --darkblue: rgb(8, 32, 63);
}

.questions {
  align-self: center;
  position: relative;
}

.question {
  border: 3px solid var(--darkblue);
  width: 650px;
  height: 470px;
  padding: 30px 50px;
  color: var(--darkblue);
  border-radius: 50px;
  position: relative;
  z-index: 100;
}
.question.hidden {
  display: none;
}

.question-text {
  font-weight: 400;
  color: var(--darkblue);
  font-size: 1.5rem;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.choice-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.choice {
  font-size: 1.3rem;
  list-style: none;
  background: black;
  color: white;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

.list-style {
  background: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.list-style:hover {
  background: black;
  color: white;
  transform: scale(1.2);
  /* border-color:white; */
  box-shadow: inset 0 0 0 2px white;
}

.list-style:hover ~ li {
  background: white;
  color: black;
  border: 2px solid black;
}

.high-scores-button {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.high-scores-button:hover {
  background: white;
  color: black;
}

.timer {
}

.high-scores-button,
.timer {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid var(--darkblue);
  height: fit-content;
  padding: 20px;
  color: var(--darkblue);
  border-radius: 20px;
  letter-spacing: 1px;
}
.count {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Sometype Mono";
}

.incorrect {
  bottom: 0;
  color: red;
}
.correct {
  top: 0;
  color: rgb(8, 215, 8);
}

.incorrect,
.correct {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.correct.show {
  transform: translateY(-70px);
  opacity: 1;
}
.incorrect.show {
  transform: translateY(70px);
  opacity: 1;
}

.end-result {
  /* background: var(--blue); */
  padding: 50px;
  border-radius: 20px;
  display: flex;
  /* border:1px solid black; */
  flex-direction: column;
  /* justify-content:center; */
  box-shadow: 0 5px 5px rgb(202, 196, 196);
  border:2px solid var(--darkblue);
  position: absolute;
  top: 50%;
  width: 400px;
  margin-left: 15px;
  visibility: hidden;
  left: 50%;
  color: var(--darkblue);
  transition: transform 0.3s ease-in-out;
  transform: scale(0);
  translate: -50%, -50%;
}

.end-result.show {
  /* display: none; */
  transform: scale(1);
  translate: -50% -50%;
  visibility: visible;
}

.end-result h2 {
  margin: 0;
  font-size: 2rem;
  color: rgb(15, 69, 119);
}

.end-result p {
  font-size: 1.4rem;
}

.end-result .init {
  font-size: 1.4rem;
}

.end-result input {
  display: inline;
  font-size: 2rem;
  margin-top: 10px;
  width: 20%;
  text-transform: uppercase;
  text-align: center;
  /* font-family:poppins;
  height:45px; */
}

.inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content:center; */
  border: none;
}
.end-result .submit {
  display: inline;
  width: 50%;
  font-size: 1.4rem;
  padding: 5px 0;
  border: none;
  font-family: poppins;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: var(--darkblue);
  color: white;
}

.end-result .submit:hover {
  opacity: 0.85;
}

.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkblue);
  text-align: center;
  width: 600px;
  border: 3px solid black;
  padding: 40px;
  border-radius: 50px;
}
.start-game.hidden {
  display: none;
}

.start-game h2 {
  font-size: 2rem;
  margin: 0;
}
.start-game p {
  font-size: 1.5rem;
}

.start-game button {
  font-size: 1.2rem;
  padding: 15px 25px;
  font-family: poppins;
  background: var(--darkblue);
  color: white;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.start-game button:hover {
  background: white;
  color: var(--darkblue);
  border: 3px solid var(--darkblue);
}

.high-scores-container {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.high-scores-container.hidden {
  display: none;
}

.high-scores {
  display: flex;
  /* justify-content: center; */
  background: white;
  align-items: center;
  flex-direction: column;
  padding: 0;
  padding-inline: 20px;
  gap: 8px;
  width: 500px;
  height: 650px;
  max-height: 650px;
  border: 2px solid var(--darkblue);
  border-radius: 20px;
  overflow: scroll;
  padding-bottom: 20px;
}

.high-scores h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color:var(--darkblue)
}

.score {
  display: flex;
  background: var(--darkblue);
  box-shadow: 3px 3px 10px rgb(85, 81, 81);
  color: white;
  padding: 10px;
  width: 90%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.go-back,
.clear-scores {
  background: rgba(0, 0, 0, 0.8);
  background: rgb(43, 78, 123);
  color: white;
  /* border: 3px solid black; */
  cursor: pointer;
  box-shadow: 0 5px 5px gray;
  padding: 10px 20px;
  width: 135px;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.go-back:hover,
.clear-scores:hover {
  /* background: rgba(0, 0, 0, 0.9); */
  /* color:var(--blue) */
  opacity:0.9;
}
